/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}



.login-color {
    /* fallback for old browsers */
    background: #f35587;
    /* Chrome 10-25, Safari 5.1-6 */
    background: #f35587;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(-45deg,#f75959 0%,#f35587 100%);
}

.register-color {
    /* fallback for old browsers */
    background: #f35587;
    /* Chrome 10-25, Safari 5.1-6 */
    background: #f35587;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -webkit-linear-gradient(-45deg,#6d88d3 0%,#6355f3 100%);
}


