@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ProductListModel
@{
    ViewData["Title"] = "Index";
}

<section id="content">

    <section id="shop" class="container">

        <div class="row">

            <!-- sidebar start -->
            <div id="sidebar" class="col-md-3">




                @await Component.InvokeAsync("Categories")
                @await Component.InvokeAsync("FeaturedProducts")


            </div>
            <!-- sidebar end -->
            <!-- right column start -->
            <div class="col-md-9">

                <div class="row">

                    <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="row product-results">
                            <div class="product-results">
                                <div class="col-xs-8">
                                    <p class="woocommerce-result-count">
                                        @localizer["There are"] @Model.PagingInfo.TotalItems
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>

                    @foreach (var product in Model.Products)
                    {
                        @Html.Partial("_ProductItem", product)
                    }
                </div>
                <div page-model="@Model.PagingInfo" page-action="List"></div>


            </div>
            <!-- right column end -->

        </div>



    </section>



</section>