@model Product



<div class="col-md-4 col-xs-6">
    <div class="product"><a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId">
    <div class="product-img">
        <img src="/images/products/tn/@Model.Image"  height="200" alt="">
    </div>
    <div class="product-body">
        <div class="product-btns" style="position: absolute;top: -50px;right: 16px;">
            <button class="add-to-wishlist"><i class="fa fa-heart"></i><span class="tooltipp">add to wishlist</span></button>
        </div>

        <h3 class="product-name"><a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId">@Model.ProductName</a></h3>
        <h4 class="product-price">$@Model.Price</h4>
        <div class="product-rating"></div>

        <form asp-action="AddToCart" asp-controller="Cart" method="post" class="form-inline">
            <input type="hidden" name="ProductId" value="@Model.ProductId" />
            <button type="submit" class="btn btn-danger btn-block"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
        </form>
    </div>
</a>
</div>
</div>





